<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- <title><%= title %></title> -->
  </head>

  <body>
    <section class="container" id="ques">
      <div class="row logo-box">
        <div class="col image-box">
          <img src="/images/h-logo.png" alt="Logos" style="max-height: 190px" />
        </div>
      </div>
      
      <!-- <div class="row intro-box">
        <div class="col">
          <h1>হাইপারটেনশন প্রতিরোধের উপায় জেনে নিন</h1>
        </div>
      </div> -->
      
      <hr />
      
      <div class="row main-box-se">
        <div class="col">
          
          <img src="/images/banner.jpg" alt="Logos" style="width: 100%;" />

          <div class="button-box-se">
            <button id="home" type="button" class="btn btn-primary cus_button">পুনরায় চেষ্টা করুন</button>
          </div>
          
        </div>
      </div>
    </section>
  </body>

  <script>
    $("#home").click(function () {
      window.location.href = "/";
    });
  </script>
</html>
